.calculator{
    padding:25px;
    text-align: center;
}
.calcCol{
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.calcCol2{
    border-top: 2px solid white;
    padding-top: 30px;;
}
.calcBut{
    padding-bottom:15px;
}