@import "./index";

.calc {
  padding: 25px;
  text-align: center;
  background-color: $primaryCol;
  color: $secondaryCol;
}
.buttonArea {
  padding-bottom: 15px;
}

.bottomText {
  font-size: 12px;
  color: $secondaryCol;
}

.calcCol {
  border-top: 2px solid $secondaryCol;
  padding-top: 30px;
}
