.footermain{
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-top: 2px solid white;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
.fbicon{
    fill:white;
    width:50px;
    height:50px;
}
.signature{
    text-align: center;
    font-size: 10px;
}
.sign{
    font-size: 10px;
    font-weight: bold;
    color: white;
    
}
.sign:hover{
    color:  rgb(104, 101, 101);
    
}
.fcol{
    text-align: center;

    padding:1px;
}
.footermob{
    display:none;
}
@media (max-width:700px){
.footermain{
        display:none;
    }
.footermob{
 display:block;
 height: auto;
 background-color: rgb(0, 0, 0);
 padding: 10px;
 border-top: 2px solid white;
}

.fh{
    font-size: 14px;;
}
.fbicon{
    fill:white;
    width:25px;
    height:25px;
}
}