header{
    height: auto;
    padding:15px;
    background-color:rgb(0, 0, 0);
    align-items: center;
}

.navLink{
    color: white;
    

}

.navLink:hover{
    color: rgb(153, 146, 146);
    text-decoration: none;

}

.navbut{
    margin-right: 30px;
    // border: 1px double black;
    
}
.iconhead{
   position: absolute;
   right: 5%;
    color: white;
}
.iconhead2{
    position: absolute;
    right: 1%;
    color: white;
}




//aboutus

.sec1{
    background-color: rgb(15, 15, 15); 
    padding: 50px;
    color: white;
}

.aicon{
    fill:white;
    width:90px;
    height:90px;
    padding:10px;
}
.sec2col{
    text-align: center;
    padding: 20px;
}

//aboutuscom
.aboutuscom
{
    background-color: rgb(10,10,10);
    height: auto;
    padding: 50px;
}


.aboutcol{
    padding:5px;
    color: black;;
    text-align: center;
    border-right: 2px solid white;
    border-top: 2px solid white;
    background-color: rgb(10,10,10);
   
}
.aboutcol3{
    padding:5px;
    color: black;;
    text-align: center;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    background-color: rgb(10,10,10);
   
}
.aboutcol2{
    padding:5px;
    text-align: center;
    padding-top: 100px;
   
   
}
.aboutusmob{
    display:none;
}
.abrow{
    padding:10px;
}
.aboutColMob{
    text-align: center;
    padding: 20px;
}


@media (max-width:1000px){
   .aboutuscom{
       display:none;
   }
   .aboutusmob{
       display:block;
       padding:10px;
   }
}