@import "./index";

header {
  height: auto;
  padding: 15px;
  background-color: $secondaryCol;

  svg {
    fill: $primaryCol;
    width: 40px;
    height: 40px;
  }
}

.navLink {
  color: $primaryCol;
}

.navLink:hover {
  color: rgb(153, 146, 146);
  text-decoration: none;
}

.navbut {
  margin-right: 30px;
}

//Aboutus section
.sec1 {
  background-color: $primaryCol;
  padding: 50px;
  color: $blackCol;

  h1 {
    color: $secondaryCol;
  }
  h3 {
    @extend h1;
  }
  p {
    @extend h1;
  }
}

.sec2col {
  text-align: center;
  padding: 20px;
  svg {
    fill: rgb(214, 21, 21);
    width: 90px;
    height: 90px;
    padding: 10px;
  }
}
