header{
    height: auto;
    padding:15px;
    background-color: rgb(42, 54, 54);
    align-items: center;
}

.navLink{
    color: white;
    

}

.navLink:hover{
    color: rgb(153, 146, 146);
    text-decoration: none;

}

.navbut{
    margin-right: 30px;
    // border: 1px double black;
    
}