.sec4{
    background-color: rgb(26, 26, 29);
    padding: 30px;
    height: auto;
}

h2{
    color:white;
}
h3{
    color: white;
}
.col{
    text-align: center;
    padding:15px;
    
}
#col2{
    padding-top: 50px;
    text-align: center;
}
.mapp{
    width:700px;
    height:500px;
}
@media (max-width:500px){
    .mapp{
        width:100px;
        height:100px;
    }
}