@import "./index";

.sec6 {
  background-color: $secondaryCol;
  padding: 30px;
  height: auto;
  color: $primaryCol;
}
.col1 {
  text-align: center;
  padding: 15px;
}
.col2 {
  padding-top: 50px;
  text-align: center;
}
.map {
  width: 700px;
  height: 500px;
}
@media (max-width: 500px) {
  .map {
    width: 100px;
    height: 100px;
  }
}
