.sec2{
    background-color: rgb(140, 146, 146);
    padding: 30px;
    height: 500px;
}





//offers
.sec3{
    background-color: rgb(29, 31, 29);
    padding: 30px;
    height: auto;
}
h1{
    color:white;
}