.sec2{
    background-color: rgb(51, 56, 56);
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}
.row{
    
}




//offers
.sec3{
    background-color: rgb(29, 31, 29);
    padding: 30px;
    height: auto;
}
h1{
    color:white;
}