.sec2{
    background-color: rgb(35, 46, 199);
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;
}
.row{
    
}

.progress-bar{
    color:rgb(236, 236, 236);
    font-weight: bold;
    font-size: 18px ;
}
.head1{
    color:rgb(253, 253, 253);
}


//offers
.sec3{
    background-color: rgb(247, 247, 247); 
    padding: 30px;
    height: auto;
}


.redH{
    color:red;
}
.card{
    margin-left:auto;
    margin-right:auto;
    display:block;
        
    background-color: white;
    text-align: center;
    border: 2px solid rgb(78, 34, 180);
    
}
.card-body{
    background-color:  white;
}
.card-title{
    font-weight: bold;
    color: red;
}
.offerCol{
    padding: 10px;
   
    
}


@media (max-width:500px){
    .offerCol{
        
    }
}