.offerP{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;;
    border:2px solid black;
    background-color: rgb(100, 93, 93);
}
.secOffer{
    padding: 15px;
    background-image: url("https://cutewallpaper.org/21/wallpaper-4k-car/The-Crew-Lotus-Cars-4k-Lotus-Car-Wallpaper-4k,-Hd-.jpg");
}
.lbox{
    padding:25px;
    text-align: center;
}