@import "../../css/index";

.carouselMain {
  background-color: $primaryCol;
  h2 {
    color: $primaryCol;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  h3 {
    color: $primaryCol;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
.carousel-item {
  height: auto;
  max-height: 90vh;
}
.carouselMob {
  background-color: $blackCol;
  display: none;
}

@media (max-width: 500px) {
  .carouselMain {
    background-color: $blackCol;
    display: none;
  }
  .carouselMob {
    background-color: $blackCol;
    display: block;
  }
}
