@import "../../css/index";

.sec4 {
  background-color: $secondaryCol;
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  text-align: center;
  h3 {
    color: $primaryCol;
  }
  .progressbar {
    color: $primaryCol;
    font-weight: bold;
    font-size: 15px;
  }
}
