@import "../../css/index";

.footermain {
  height: auto;
  background-color: $primaryCol;
  padding: 10px;
  border-top: 2px solid $secondaryCol;
  h3 {
    color: rgb(35, 46, 199);
  }
  svg {
    fill: rgb(35, 46, 199);
    width: 50px;
    height: 50px;
  }
}
.footermob {
  display: none;
}
.fcol {
  text-align: center;
  padding: 1px;
}
.signature {
  text-align: center;
  font-size: 10px;
}
.sign {
  font-size: 10px;
  font-weight: bold;
  color: rgb(35, 46, 199);

  &:hover {
    color: rgb(104, 101, 101);
  }
}

@media (max-width: 700px) {
  .footermain {
    display: none;
  }
  .footermob {
    display: block;
    height: auto;
    background-color: white;
    padding: 10px;
    border-top: 2px solid rgb(35, 46, 199);
    h3 {
      font-size: 14px;
      color: rgb(35, 46, 199);
    }
    svg {
      fill: rgb(35, 46, 199);
      width: 25px;
      height: 25px;
    }
  }
}
